* {
    margin: 0;
    padding: 0;
}

/* KS  */
body {
    background-color: #282A36;
    color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
    /* display: block; */
    /* margin: auto; */
    white-space: nowrap;
    margin-top: 15px;
    padding: 10px 10px;
    background: #5353dc;
    border: none;
    width: 70%;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
}

#convertBtn {
    width: 70%;
    font-size: 70%;
    padding: 5px 10px;
    margin-top: 0;
}

button:active {
    background-color: #4848cf;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input {
    outline: none;
    border-radius: 3px;
    padding: 4px 8px;
    border: 1px solid lightblue;
    background: transparent;
    color: lightgray;
}


table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin: 4px 6px;
    font-size: 80%;
}

table td {
    padding: 2px;
}

/* KS  */


.container {
    width: 1400px;
    margin: 0 auto;
}

.cart-section {
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.main-btn {}

.carts {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

.cart {
    text-align: center;
    border: 1px solid gray;
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 265px;
}

.cart img {
    width: 76%;
    height: 50%;
}

.cart p {
    margin: 10px 0;
}

.cart h2 {
    margin-top: 15px;
}

.input-field {
    width: 50px;
    outline: none;
}

.sidebar {
    width: 19%;
}

.side-cart {
    border: 1px solid gray;
    border-radius: 5px;
    height: 50%;

    position: sticky;
    top: 10px;
    right: 0;

}

.side-cart h2 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.my-table {}

.table-row {}